{% extends '@Html/base.html.twig' %}

{% block html_head_title %}{{ parent() }}
    {{ cms_html_title({'delimiter': '&ndash;', 'site_full_name': "Dmitry Xe's Personal Site", 'site_short_name': 'dmitxe.ru',}) }}
{% endblock html_head_title %}

{% block html_head_meta %}{{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock html_head_meta %}

{% block html_head_styles %}{{ parent() }}
    <link href="{{ asset('theme/js/syntaxhighlighter/styles/shCore.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/js/syntaxhighlighter/styles/shThemeDefault.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 100px;
        }
    </style>
{% endblock html_head_styles %}

{#
{% block html_head_styles %}{{ parent() }}
{% endblock html_head_styles %}
#}

{% block html_head_scripts %}{{ parent() }}
    <script src="{{ asset('theme/js/syntaxhighlighter/scripts/shCore.js') }}"></script>
    <script src="{{ asset('theme/js/syntaxhighlighter/scripts/shBrushJScript.js') }}"></script>
    <script src="{{ asset('theme/js/syntaxhighlighter/scripts/shBrushSql.js') }}"></script>
    <script src="{{ asset('theme/js/syntaxhighlighter/scripts/shBrushXml.js') }}"></script>
    <script src="{{ asset('theme/js/syntaxhighlighter/scripts/shBrushCss.js') }}"></script>
    <script src="{{ asset('theme/js/syntaxhighlighter/scripts/shBrushPhp.js') }}"></script>
    <script src="{{ asset('theme/js/syntaxhighlighter/scripts/shBrushCpp.js') }}"></script>

    <script type="text/javascript">
        // SyntaxHighlighter.config.bloggerMode = true;
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
        // hljs.initHighlightingOnLoad();
    </script>

{% endblock html_head_scripts %}

{% block body %}

<div id="mst_page" class="container">
    <div class="row">
        <div id="header" class="span12">
            <div id="logo"></div>
        </div>
    </div>

    <div class="row">
        <div id="mainmenu" class="span12">
            <div class="navbar navbar-static-top navbar-inverse">
                <div class="navbar-inner top-menu">
                    {{ main_menu }}
                    <ul class="nav pull-right">
                        {% if is_granted('ROLE_USER') %}
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i>
                                    &nbsp;{{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-cog"></i> Мой профиль</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> Выход</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a></li>
                            <li class="dropdown">
                                <a href="{{ path('fos_user_profile_show') }}">Войти</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="span12">
                <div class="breadcrumb">
                    {{ breadcrumbs }}
                </div>
            </div>
        </div>

        <div class="row" class='span3'>
            {% block sidebar %}
                <div id="sidebar" class="span3">
                    <div class="portlet">
                        {{ left_sidebar }}
                    </div>
                </div>
            {% endblock sidebar %}
            <div class="span9">
                <div id="mst_content">
                    {% include '@CMS/flash_messages.thml.twig' %}

                    {% block content content %}
                </div>
            </div>
        </div>

    <div class="row">
        <div class="span12">
            <div id="footer"> © 2011-2013 Дмитрий Хе. Все права защищены. {{  footer  }}
                <br />
                <small>
                    {{ simple_profiler() }}
                </small>
            </div>
        </div>
    </div>
</div>

    </div>
{% endblock body %}

{% block body_js %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function () {
            jQuery('#login-dropdown').click(function(e) {
                setTimeout(function() {
                    jQuery("#username").focus();
                }, 1);
            });
        });
    </script>
{% endblock body_js %}

